# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Declare files that will always have CRLF line endings on checkout.
*.sln     text eol=crlf
*.csproj  text eol=crlf
*.vcxproj text eol=crlf
*.vcproj  text eol=crlf
*.cmd     text eol=crlf
# Declare files that will always have LF line endings on checkout.
*.sh      text eol=lf
