<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <!-- TODO Investigate other logging strategies
    <trace autoflush="true"/>    -->
    <sources >
      <source name="AzureKinect"  switchName="AzureKinectSwitch" >
        <!-- <listeners>
          <add name="textWriterListener" traceOutputOptions="DateTime"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="myApp.log">
          </add>
        </listeners> -->
      </source>
    </sources>
    <switches>
      <add name="AzureKinectSwitch" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>
