[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
certifi = "==2020.11.8"
future = "==0.18.2"
importlib-metadata = "==1.7.0"
kiwisolver = "==1.2.0"
numpy = "==1.19.2"
opencv-contrib-python = "==4.4.0.46"
pefile = "==2019.4.18"
pipenv = "==2020.8.13"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
pytz = "==2020.4"
six = "==1.15.0"
virtualenv = "==20.0.31"
virtualenv-clone = "==0.5.4"
zipp = "==3.2.0"
Cycler = "==0.10.0"
