[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = ">=1.19.2"
opencv-contrib-python = ">=4.4.0.46"
pefile = ">=2019.4.18"
pipenv = ">=2020.8.13"
virtualenv = ">=20.0.31"
virtualenv-clone = ">=0.5.4"
